html {
  --bg-light-base: #d9bea3;
  --bg-light-fill: #fff2e5;
  --color-border: #331f0a;
  --color-border-light: #9c5f1e;
  display: flex;
  flex-flow: column;
  font-family: 'Nunito', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.menu-bar {
  background-color: var(--bg-light-base);
  border: 4px solid var(--color-border);
  border-top: none;
  border-radius: 0 0 21px 21px;
  display: flex;
  flex-flow: column;
  flex: 0 1 auto;
  left: 50%;
  margin: 0 auto;
  padding-bottom: 4px;
  position: fixed;
  top: 0;
  transform: translate(-50%, 0);
  transition: all 1s;
  width: calc(100% - 2rem);
  z-index: 1;
}

.menu-bar__links {
  display: none;
  flex-flow: row;
  justify-content: space-between;
  padding: 1rem 1rem 0;
  width: 100%;
}

.menu-bar__links--active {
  display: flex;
}

a.menu-bar__link {
  color: #331f0a;
  font-family: 'Raleway';
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
a.menu-bar__link:hover,
a.menu-bar__link.--active {
  color: #ff9500;
}

.menu-bar__content {
  align-items: center;
  background-color: var(--bg-light-fill);
  border-radius: 0 0 21px 21px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: calc(1rem - 4px);
}

.logo {
  align-self: center;
  background: transparent url("../img/treinafacil.svg") no-repeat 50% 50%/100%;
  display: flex;
  height: 30px;
  overflow: hidden;
  outline: none;
  margin: .5rem auto;
  padding: 0;
  text-indent: -5000px;
  width: 57%;
}

.logo--dark {
  background-image: url("../img/treina-facil.svg");
}

/** Barra de progresso **/
.status-bar {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  height: 23px;
  justify-self: flex-start;
  max-width: calc(100% - 73px);
  margin-left: 16px;
  padding-left: 16px;
  position: relative;
  width: 450px;
  z-index: 10;
}
.status-bar__arrow {
  height: 23px;;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 2;
}
.status-bar__progress-bar {
  background-color: #294766;
  border-radius: 6px;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.status-bar__progress::before {
  border: 2px solid #0a1f33;
  border-radius: 6px;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.status-bar__progress-bar-count {
  background-color: #21d3ff;
  border-radius: 6px 0 0 6px;
  box-shadow: 1px -1px 0 2px #178fe6 inset, 0 3px 0 0px #99eeff inset;
  height: 100%;
  transition: width 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.status-bar__count {
  align-items: center;
  border: 2px solid #143d66;
  border-radius: 6px;
  background-color: #fff;
  color: #143d66;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  height: 29px;
  justify-content: center;
  margin-left: 10px;
  position: relative;
  width: 76px;
}
.status-bar__count::before {
  background-color: #fff;
  border-left: 2px solid #143d66;
  border-radius: 4px 0 0 0;
  border-top: 2px solid #143d66;
  content: '';
  height: 9px;
  left: -6px;
  position: absolute;
  transform: rotate(-45deg);
  top: 7px;
  width: 9px;
  z-index: 1;
}
/** end Barra de progresso **/

.btn-menu,
.btn-close-menu {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  height: 40px;
  margin-left: auto;
  justify-content: center;
  position: relative;
  outline: none;
  overflow: hidden;
  text-indent: -5000px;
  width: 40px;
}
.btn-menu {
  margin-right: 8px;
}
.btn-menu::after {
  background: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 3px,
    var(--color-border) 3px,
    var(--color-border)  6px
  );
  display: block;
  content: "";
  height: 18px;
  width: 18px;
}
.btn-menu--active::after {
  background: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 3px,
    var(--color-border-light) 3px,
    var(--color-border-light)  6px
  );
}

.btn-close-menu::after,
.btn-close-menu::before {
  background-color: var(--color-border);
  content: "";
  display: flex;
  flex: 0 1 auto;
  height: 20px;
  left: 20px;
  position: absolute;
  top: 10px;
  width: 3px;
}
.btn-close-menu::after {
  transform: rotate(45deg);
}
.btn-close-menu::before {
  transform: rotate(-45deg);
}

.section {
  background-color: #ff9500;
  position: relative;
  z-index: 0;
}
.section--intro .logo {
  display: none;
}
.section--mountain {
  background: #5fc1ff url("../img/bg-montanha.jpg") no-repeat 50% 50%/cover;
}
.section--space {
  background: #243378 url("../img/bg-espaco.jpg") no-repeat 56% 50%/cover;
}
.section--contact {
  background-color: #0a1f33;
}
/* .section--contact {
  overflow: hidden;
  overflow-y: scroll;
} */
.section__content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  height: 100%;
  justify-content: space-between;
  padding: 106px 1rem 1rem;
  position: relative;
  width: 100%;
}

.intro {
  color: #fff;
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 90%;
}

.btn-game {
  background-color: gray;
  border: 2px solid var(--color-border);
  border-radius: 21px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  font-family: 'Raleway';
  font-weight: 700;
  line-height: 1;
  justify-content: center;
  /* padding: 12px; */
  padding: 6px 6px 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  /* min-width: 120px; */
}
.btn-game:hover {
  color: #fff;
  text-decoration: none;
}
.btn-game::before {
  background-color: darkgray;
  border-radius: 21px;
  content: '';
  left: 1px;
  height: calc(100% - 4px);
  position: absolute;
  top: 0;
  transition: all .2s;
  z-index: 0;
  width: calc(100% - 2px);
}
.btn-game:hover::before {
  background-color: #666;
}
.btn-game__text {
  position: relative;
  z-index: 1;
}

.btn-game--primary {
  background-color: #da7f00;
}
.btn-game--primary::before {
  background-color: #ff9500;
}
.btn-game--primary:hover:not([disabled])::before {
  background-color: #e78700;
  color: #fff;
}

.btn-game--contrast {
  background-color: #ddd;
  border: none;
  color: #ff9500;
  text-transform: none;
}
.btn-game--contrast::before {
  background-color: #fff;
}
.btn-game--contrast:hover {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, .15);
  color: #ff9500;
}
.btn-game--contrast:hover:not([disabled])::before {
  background-color: #f0f0f0;
}

.board {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.board__place {
  align-items: flex-end;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.board__image {
  position: relative;
  width: 100%;
  /* z-index: 0; */
}

.board__module {
  --diff: 0.02%;
  bottom: 0;
  display: flex;
  position: absolute;
  height: calc(20% - var(--diff));
  width: calc(14% - var(--diff));
  /* z-index: 2; */
}
.board__module:hover {
  cursor: pointer;
}

.board__module--mountain {
  background: transparent url("../img/cabana-0.svg") no-repeat 50% 0/80%;
}
.board__module--space {
  background: transparent url("../img/planeta-0.svg") no-repeat 50% 0/80%;
}
.board__module--m1 {
  right: calc(57% + var(--diff)/2);
  bottom: calc(1% + var(--diff)/2);
}
.board__module--m2 {
  right: calc(40% + var(--diff)/2);
  bottom: calc(15% + var(--diff)/2);
}
.board__module--m3 {
  right: calc(24% + var(--diff)/2);
  bottom: calc(34% + var(--diff)/2);
}
.board__module--m4 {
  right: calc(8% + var(--diff)/2);
  bottom: calc(57.5% + var(--diff)/2);
}

.board__module--s1 {
  right: calc(77% + var(--diff)/2);
  bottom: calc(50% + var(--diff)/2);
}
.board__module--s2 {
  right: calc(70% + var(--diff)/2);
  bottom: calc(37% + var(--diff)/2);
}
.board__module--s3 {
  right: calc(59% + var(--diff)/2);
  bottom: calc(40% + var(--diff)/2);
}
.board__module--s4 {
  right: calc(49% + var(--diff)/2);
  bottom: calc(26% + var(--diff)/2);
}
.board__module--s5 {
  right: calc(34% + var(--diff)/2);
  bottom: calc(31% + var(--diff)/2);
}
.board__module--s6 {
  right: calc(22% + var(--diff)/2);
  bottom: calc(16% + var(--diff)/2);
}

.board__module--mountain.--active {
  background: transparent url("../img/cabana-100.svg") no-repeat 50% 0/80%;
}
.board__module--space.--active {
  background: transparent url("../img/planeta-100.svg") no-repeat 50% 0/80%;
}

.info-box {
  background-color: #d9bea3;
  border: 4px solid var(--color-border);
  border-radius: 21px;
  bottom: 60%;
  font-family: 'Raleway';
  left: 1rem;
  max-width: 290px;
  position: absolute;
  transform: translate(0, 50%);
  width: 100%;
  z-index: 2;
}
.info-box::before {
  background-color: #fff2e5;
  border-radius: 21px;
  content: '';
  height: calc(100% - 4px);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.info-box__content {
  color: #666;
  display: flex;
  height: 100%;
  flex-flow: column;
  font-size: 12px;
  line-height: 1.4rem;
  padding: 1rem;
  position: relative;
  width: 100%;
  z-index: 1;
}
.info-box__title {
  color: #663d14;
  flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .5rem;
  margin-top: 0;
}
.info-box__text {
  margin-bottom: 0;
}
.info-box__navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.js-draw {
  position: relative;
  z-index: 1;
}

.form {
  margin-top: 1rem;
}

.form-control-label {
  color: #fff;
  display: none;
  font-size: 12px;
  font-family: 'Raleway';
  margin-bottom: .34rem;
}
.form-group {
  margin-bottom: .5rem;
}

.form-control.error {
  border-color: #ff7e7e;
  box-shadow: 0 0 1px 1px rgba(244, 126, 126) inset;
}

.form-group .error {
  color: #ff7e7e;
  font-size: 10px;
  margin-bottom: 0;
}

@media(min-width: 544px) {
  .logo {
    width: 227px;
    height: 44px;
  }
  .info-box {
    bottom: 57%;
  }
  .info-box--mountain-2 {
    left: 18%;
  }
  .info-box--mountain-3 {
    left: 26%;
  }
  .info-box--mountain-4 {
    left: 38%;
  }
  .info-box--space-2 {
    bottom: 60%;
    left: 18%;
  }
  .info-box--space-3 {
    bottom: 55%;
    left: 22%;
  }
  .info-box--space-4 {
    bottom: 62%;
    left: 28%;
  }
  .info-box--space-5 {
    bottom: 58%;
    left: 34%;
  }
  .info-box--space-6 {
    bottom: 60%;
    left: 40%;
  }
  .section--intro .section__content {
    justify-content: space-around;
    text-align: center;
  }
  .section--intro .intro {
    max-width: 100%;
  }
  .form {
    margin-top: 48px;
  }
  .form-control-label {
    display: block;
  }
  .board__module--s1 {
    right: calc(73% + var(--diff)/2);
    bottom: calc(89% + var(--diff)/2);
  }
  .board__module--s2 {
    right: calc(64% + var(--diff)/2);
    bottom: calc(67% + var(--diff)/2);
  }
  /* .board__module--s3 {
    right: calc(59% + var(--diff)/2);
    bottom: calc(40% + var(--diff)/2);
  }
  .board__module--s4 {
    right: calc(49% + var(--diff)/2);
    bottom: calc(26% + var(--diff)/2);
  }
  .board__module--s5 {
    right: calc(34% + var(--diff)/2);
    bottom: calc(31% + var(--diff)/2);
  }
  .board__module--s6 {
    right: calc(22% + var(--diff)/2);
    bottom: calc(16% + var(--diff)/2);
  } */
}

@media (min-width: 768px) {
  .logo {
    height: 32px;
    margin: 1rem;
    order: 1;
    width: 176px;
  }
  .section--intro .logo {
    height: 50px;
    order: 0;
    display: flex;
    width: 300px;
  }
  .btn-menu {
    display: none;
  }
  .status-bar {
    order: 3;
    margin: 0 1rem 0 auto;
    width: 50%;
  }
  .menu-bar__links {
    display: flex;
    flex: 0 0 auto;
    margin: 0 1rem 0 auto;
    padding: 0;
    order: 2;
    width: 50%;
  }
  .menu-bar__link + .menu-bar__link {
    margin-left: 1rem;
  }
  .board__module {
    --diff: 2%;
  }
  .info-box {
    z-index: 3;
  }
  .info-box--mountain-4 {
    left: 30%;
  }
  .info-box--space-1 {
    bottom: 67%;
    left: 40%;
  }
  .info-box--space-2 {
    bottom: 64%;
    left: 45%;
  }
  .info-box--space-3 {
    left: 41%;
  }
  .info-box--space-3 {
    left: 36%;
  }
}

@media (min-width: 992px) {
  .logo {
    animation: logoEnter .5s ease-in-out;
    display: none;
    margin-left: auto;
    margin-right: auto;
    order: 2;
  }
  .btn-game--contrast {
    align-self: center;
    min-width: 220px;
  }
  .menu-bar__content {
    overflow: hidden;
    padding: 11px 0;
  }
  .--show-logo .logo {
    display: flex;
  }
  .--show-logo .menu-bar__content {
    padding: 0;
  }
  .--show-logo .menu-bar__links {
    margin-left: 0;
  }
  .menu-bar__links {
    order: 3;
    width: auto;
  }
  .status-bar {
    height: 42px;
    margin: 0 0 0 1rem;
    order: 1;
    padding-left: 35px;
    width: 360px;
  }
  .status-bar__arrow {
    height: auto;
  }
  .status-bar__count {
    height: 42px;
  }
  .status-bar__count::before {
    top: 14px;
  }
  .status-bar__progress-bar-count {
    box-shadow: 3px -3px 0 2px #178fe6 inset, 0 6px 0 0px #99eeff inset;
  }
  a.menu-bar__link {
    font-size: .875rem;
  }
  .board__module {
    --diff: 4.5%;
  }
}

@media (min-width: 1200px) {
  .board__module {
    --diff: 5.5%;
  }
  a.menu-bar__link {
    font-size: 1rem;
  }
  .board--space .board__image {
    max-width: 90%;
  }
  .info-box--space-1 {
    bottom: 80%;
  }
  .info-box--space-2 {
    bottom: 73%;
  }
  .info-box--space-3 {
    bottom: 80%;
    left: 42%;
  }
  .info-box--space-4 {
    bottom: 42%;
    left: 11%;
  }
  .info-box--space-5 {
    bottom: 85%;
  }
  .info-box--space-6 {
    left: 70%;
    bottom: 73%;
  } 
  .board__module--s1 {
    bottom: calc(63% + var(--diff)/2);
  }
  .board__module--s2 {
    bottom: calc(51% + var(--diff)/2);
  }
}

@media (min-width: 1440px) {
  .board__module {
    --diff: 6.5%;
  }
}
@media (min-width: 1600px) {
  .board__module {
      --diff: 8.5%;
  }
}

@keyframes logoEnter {
  0% {
    transform: translate(0, 200%);
  }
  100% {
    transform: translate(0, 0);
  }
}